.grid {
    display: grid; grid-template-columns: repeat(5, 1fr); grid-gap: 1rem;
    height: 900px;
    overflow: scroll;
}

.grid__item {
    transition: transform 0.2s ease-in-out;

    &:hover {
        transform: scale(1.1);
        transition: transform 0.2s ease-in-out;
    }
}
