section {
    margin-top: calc(var(--vh, 1vh) * 5);

    header {
        width: 70vw;
        margin: 0 auto calc(var(--vh, 1vh) * 10);

        .catalog-nav {
            display: flex; justify-content: center;
            position: relative;
            margin: 0 auto 1rem;

            h2 {
                position: absolute; left: 0; bottom: 0;
                font-size: 2rem;
                line-height: 2rem;
            }

            ul {
                display: flex;
                list-style-type: none;

                li {

                    a {
                        padding: 0.5rem 1rem 0;
                        margin-right: 2rem;
                        color: #000; font-weight: 700; font-size: 1.25rem; text-decoration: none;

                        &:hover {
                            cursor: pointer;
                        }
                    }
                }
            }
        }

        a {
            img {
                width: 70vw; height: 70vh;
                object-fit: cover;
            }
        }
    }

    > h2 {
        text-transform: uppercase; text-align: center;
        font-size: 2rem;
        margin-bottom: 2rem;
    }

    app-slider, app-prepared-filters {
        width: 80vw; margin: 0 auto calc(var(--vh, 1vh) * 10);
    }

    .vertical-slider-wrapper {
        position: relative;
        width: 80vw;
        margin: 0 auto;

        .vertical-slider {
            width: 80vw; height: 80vh;
            margin: 0 auto calc(var(--vh, 1vh) * 10);
            overflow: scroll;
            -ms-overflow-style: none;
            scrollbar-width: none;
    
            &::-webkit-scrollbar {
                display: none;
            }
    
            a {
                display: block;
                line-height: 0;
    
                img {
                    width: 100%; height: 80vh; object-fit: cover; 
                }
            }
        }

        app-scrollbar {
            position: absolute; top: 103%; left: 0;
            transform: rotate(-90deg);
            transform-origin: top;
            height: 80vw;
        }
    }

    .sale-banner {
        height: calc(var(--vh, 1vh) * 35);
        background-repeat: no-repeat; background-size: cover; background-position: left;
        position: relative;
        margin-bottom: calc(var(--vh, 1vh) * 10);

        .decor-rect {
            position: absolute; left: 10%; bottom: 10%;
            background-color: rgb(226, 226, 226, 0.4);
            width: 25%; height: 65%; min-width: 350px;

            p {
                color: #fff; text-transform: uppercase; font-size: 3rem; font-weight: 700;
                position: absolute; left: 20%; bottom: 30%;
            }
        }

        button {
            display: flex; align-items: center; border: none;
            position: absolute; left: 75%; top: 60%;
            width: 250px; height: 60px;
            padding-left: 2rem;
            font-size: 2rem;
            letter-spacing: 0.10rem;

            &:hover {
                background-color: #000;
                color: #fff;
            }

            ion-icon {
                margin-left: 1.25rem;
                font-size: 2.25rem;
            }
        }
    }

    footer {
        display: flex; justify-content: center;
        padding-bottom: calc(var(--vh, 1vh) * 7);

        ul {
            list-style-type: none;
            
            &:not(:last-child) {
                margin-right: 10vw;
            }

            li {
                a {
                    display: block;
                    cursor: pointer;
                    padding-bottom: 0.5rem;
                }

                &:first-child {
                    font-weight: 700; font-size: 1.125rem;
                    margin-bottom: 1rem;
                }
            }
        }
    }
}

@media all and (max-width: 768px) {
    section {        
        header {
            width: 90vw;
            margin: 0 auto calc(var(--vh, 1vh) * 7);

            .catalog-nav {
                ul {
                    li {
                        a {
                            margin-right: 1rem;
                        }
                    }
                }
            }

            a {
                img {
                    width: 90vw; height: unset;
                }
            }
        }

        app-slider, app-prepared-filters {
            width: 90vw;
        }

        .vertical-slider {
            width: 90vw; height: calc(var(--vh, 1vh) * 45);
            margin: 0 auto calc(var(--vh, 1vh) * 7);
    
            a {
                img {
                    width: 100%; height: calc(var(--vh, 1vh) * 45);
                }
            }
        }

        .sale-banner {
            height: calc(var(--vh, 1vh) * 30);
            margin-bottom: calc(var(--vh, 1vh) * 7);
    
            .decor-rect {
                height: 45%;

                p {
                    font-size: 2rem;
                    position: absolute; left: 15%; bottom: 20%;
                }
            }
    
            button {
                position: absolute; left: 70%; top: 30%;
                width: 175px; height: 60px;
                padding-left: 2.125rem;
            }
        }
    }
}
