<nav #nav>
    <div class="logo" routerLink="home">
        <div class="circle"></div>
        <div class="text">Logo</div>
    </div>

    <ng-container *ngTemplateOutlet="isMobile ? iconNavigation : verbalNavigation"></ng-container>
</nav>

<aside *ngIf="showAside" (click)="toggleAside()" (touchmove)="$event.preventDefault()">
    <div class="content" (click)="$event.stopPropagation()">
        <div *ngIf="!currentCategory" class="home-page">
            <ul class="aside__home">
                <li *ngFor="let category of aside.categories" (click)="categoryChanged(category.path)">
                    {{ category.header }}
                    <ion-icon name="chevron-forward-outline"></ion-icon>
                </li>
            </ul>

            <div class="home-page__footer">
                <p>Receive membership with personal offer</p>
                <a href="">Learn more</a>
                <div class="buttons">
                    <button class="black">Join Us</button>
                    <button class="white">Sign In</button>
                </div>
            </div>
        </div>

        <div *ngIf="currentCategory">
            <p (click)="categoryBack(currentCategory.path)">
                <ion-icon name="chevron-back-outline"></ion-icon>
                {{ currentCategory.parent }}
            </p>

            <h4>{{ currentCategory.header }}</h4>

            <ul>
                <ng-container *ngIf="childCategoryHasKids">
                    <li *ngFor="let category of currentCategory.children" (click)="categoryChanged(category.path)">
                        {{ category.header }}
                        <ion-icon name="chevron-forward-outline"></ion-icon>
                    </li>
                </ng-container>

                <ng-container *ngIf="!childCategoryHasKids">
                    <li *ngFor="let category of currentCategory.children"><a href="">{{ category.header }}</a></li>
                </ng-container>
            </ul>
        </div>

    </div>
</aside>

<ng-template #iconNavigation>
    <ion-icon name="cart-outline"></ion-icon>
    <ion-icon name="search-outline"></ion-icon>
    <ion-icon name="menu-outline" (click)="toggleAside()"></ion-icon>
</ng-template>

<ng-template #verbalNavigation>
    <div class="nav__item">
        <p>New</p>
        <div class="pop-up">
            <ul>
                <li><a>Women</a></li>
                <li><a>Modern</a></li>
                <li><a>New</a></li>
                <li><a>Dresses</a></li>
                <li><a>Celebrities</a></li>
                <li><a>Bags</a></li>
            </ul>

            <ul>
                <li><a>Men</a></li>
                <li><a>Featured</a></li>
                <li><a>Classic</a></li>
                <li><a>Shoes</a></li>
                <li><a>Suits</a></li>
                <li><a>Shorts</a></li>
            </ul>

            <ul>
                <li><a>Kids</a></li>
                <li><a>School</a></li>
                <li><a>Sport</a></li>
                <li><a>Sale</a></li>
                <li><a>Tall & Slim</a></li>
                <li><a>Bags</a></li>
            </ul>
        </div>
    </div>

    <div class="nav__item">
        <p>Goods</p>
        <div class="pop-up">
            <ul>
                <li><a>Jewerly</a></li>
                <li><a>Watches</a></li>
                <li><a>Earrings</a></li>
                <li><a>Ties</a></li>
                <li><a>Rings</a></li>
                <li><a>Necklaces</a></li>
            </ul>

            <ul>
                <li><a>Travel</a></li>
                <li><a>Tents</a></li>
                <li><a>Equipment</a></li>
                <li><a>Food</a></li>
            </ul>

            <ul>
                <li><a>Kids</a></li>
                <li><a>Sport</a></li>
                <li><a>School</a></li>
                <li><a>Tall & Slim</a></li>
                <li><a>Bags</a></li>
                <li><a>Sale</a></li>
            </ul>

            <ul>
                <li><a>Toys</a></li>
                <li><a>Rabbits</a></li>
                <li><a>Dogs</a></li>
                <li><a>Bears</a></li>
                <li><a>Seals</a></li>
                <li><a>Sealions</a></li>
            </ul>
        </div>
    </div>
    
    <div class="nav__item">
        <p>Delivery</p>
        <div class="pop-up">
            <ul>
                <li><a>Shops</a></li>
                <li><a>Regions</a></li>
                <li><a>Cities</a></li>
                <li><a>Delivery</a> Zone</li>
                <li><a>Prices</a></li>
            </ul>

            <ul>
                <li><a>Men</a></li>
                <li><a>Featured</a></li>
                <li><a>Classic</a></li>
                <li><a>Shoes</a></li>
                <li><a>Suits</a></li>
                <li><a>Shorts</a></li>
            </ul>

            <ul>
                <li><a>Kids</a></li>
                <li><a>School</a></li>
                <li><a>Sport</a></li>
                <li><a>Sale</a></li>
                <li><a>Tall & Slim</a></li>
                <li><a>Bags</a></li>
            </ul>
        </div>
    </div>

    <div class="nav__item">
        <p>About</p>
        <div class="pop-up">
            <ul>
                <li><a>Address</a></li>
                <li><a>Legal address</a></li>
                <li><a>Map</a></li>
                <li><a>Filials</a></li>
            </ul>

            <ul>
                <li><a>More Information</a></li>
                <li><a>Media</a></li>
                <li><a>Recent events</a></li>
                <li><a>History</a></li>
            </ul>
        </div>
    </div>
</ng-template>