nav {
    display: flex;
    margin: 0 auto 2rem auto;
    height: 3rem;
    max-width: 1200px;
}

.nav__item {
    display: flex; flex-grow: 1; justify-content: center; align-items: center;
    text-decoration: none; text-transform: uppercase;
    font-weight: 700; font-size: 0.875rem;
    color:black;

    &:hover {
        background-color: rgb(180,180,180);
        color: white;
    }
}

.logo {
    display: flex; align-items: center;
    margin-right: 3rem;
    cursor: pointer;
    outline: none;

    .circle {
        width: 3rem; height: 3rem;
        border-radius: 50%;
        background-color: #C4C4C4;
    }

    .text {
        font-weight: 700; font-style: italic; font-size: 1.25rem;
        position: relative; left: -20px;
    }
}