:host {
    display: flex;
    width: 80vw;
    margin: 0 auto;
}

.filters {
    min-width: 200px; height: calc(var(--vh, 1vh) * 80);
    padding-right: 2rem; margin-right: 2rem;
    position: relative;

    .scrollable {
        overflow: scroll;
        height: 100%;
        -ms-overflow-style: none;
        scrollbar-width: none;

        &::-webkit-scrollbar {
            display: none;
        }

        p {
            font-size: 1.5rem; font-weight: 700;
            margin-bottom: 1rem;
            background-color: #fff;
            padding-bottom: 0.25rem;
            position: sticky; top: 0;
        }
    
        ul {
            margin-bottom: 1rem;
            list-style-type: none;
    
            &:not(:last-child):after {
                content: "";
                display: block;
                width: 80%; height: 1px;
                background-color: #000;
                margin: 1rem auto 0;
            }
    
            h3 {
                margin-bottom: 1rem;
            }
    
            li {
                padding-bottom: 0.25rem;
    
                label {
                    display: flex; align-items: center;
    
                    input {
                        appearance: none;
                        border: 2px solid; border-radius: 4px;
                        width: 1rem; height: 1rem;
                        margin-right: 0.5rem;
    
                        &:checked {
                            position: relative;
    
                            &:after, &:before {
                                content: "";
                                display: block;
                                height: 2px;
                                background-color: #000;
                                position: absolute;
                                transform-origin: left;
                            }
    
                            &:after {
                                width: 0.5rem; 
                                transform: rotate(-135deg);
                                top: 80%; left: 50%;
                            }
    
                            &:before {
                                width: 1rem; 
                                transform: rotate(-55deg);
                                top: 80%; left: 50%;
                            }
                        }
                    }
                }
            }
        }
    }
    
    app-scrollbar {
        position: absolute; top: 0; right: 0;
        height: 99%;
    }
}

.grid-wrapper {
    width: 100%;
    position: relative;

    .grid {
        display: grid; grid-template-columns: repeat(auto-fill, minmax(400px, 1fr)); gap: 0.5rem;
        padding: 1rem;
        height: calc(var(--vh, 1vh) * 80); width: 100%;
        overflow: scroll;
        position: relative;
    
        -ms-overflow-style: none;
        scrollbar-width: none;
    
        &::-webkit-scrollbar {
            display: none;
        }
    
        &__item {
            padding: 0.5rem;
    
            &:hover {
                cursor: pointer;
                box-shadow: 0 0 10px;
            }
    
            img {
                object-fit: cover;
                width: 100%; height: 420px;
            }
    
            .info {
                display: flex; justify-content: space-between;
    
                .price, h4 {
                    font-size: 1.25rem;
                }
    
                .price {
                    font-weight: 700;
                }
            }
    
            .description {
                color: rgb(166, 163, 163); font-size: 0.875rem;
            }
        }
    
        .loading-overlay {
            position: absolute; left: 0; top: 0; bottom: 0; right: 0;
            backdrop-filter: blur(2px);
        }
    
        .empty-overlay {
            position: absolute; left: 0; top: 0; bottom: 0; right: 0;
            display: flex; justify-content: center; align-items: center;
            font-size: 1.5rem; color: rgb(166, 163, 163);
        }
    }

    app-scrollbar {
        position: absolute; top: 0; right: 0;
        height: 99%;
    }
}
