<div class="filters" [formGroup]="filtersForm">
    <div #filters class="scrollable">
        <p>Total ({{ goods.length }})</p>

        <ul *ngFor="let group of groupedFilters">
            <h3>{{ group[0].group }}</h3>
            <li *ngFor="let filter of group">
                <label>
                    <input type="checkbox" [formControlName]="filter.control">
                    {{ filter.type === 'range' ? filter.from : filter.value }}
                    {{ filter.type === 'range' ? '-' + filter.to : undefined}}
                </label>
            </li>
        </ul>
    </div>    
    
    <app-scrollbar [scrollElement]="filters"></app-scrollbar>
</div>

<div class="grid-wrapper">
    <div #grid class="grid">
        <div *ngFor="let good of goods" class="grid__item">
            <img [src]="good.image" alt="">
    
            <div class="info">
                <h4 class="info-header">{{ good.name }}</h4>
                <p class="price">{{ good.price }}</p>
            </div>
    
            <p class="description">{{ good.description }}</p>
        </div>
    
        <div class="loading-overlay" *ngIf="showLoadingOverlay"></div>
        <div class="empty-overlay" *ngIf="!goods.length">Nothing Found</div>
    </div>
    
    <app-scrollbar [scrollElement]="grid"></app-scrollbar>
</div>
